<div class="container mt-5">
    <h1 class="text-center">Edit user
    </h1>
    <form action="/admin/edit/{{user._id}}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name"
                value="{{user.name}}">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                value="{{user.email}}">

        </div>
        {{!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Adress</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="address" value="{{user.address}}">
        </div> --}}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone number:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="number" value="{{user.number}}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>